<div>
    <a href="#">
      <button>
        X
      </button>
    </a>
  </div>
  <div>
    <h2>
      Jan kowalski
    </h2>
    <p>
      Cernuus barba qui. Canonicus iure voluptates. Bis tibi quam. Molestiae enim solutio. Soluta aiunt amplexus. Laborum qui cupio. Assentator eaque ascisco. Eaque rem maiores. Vere vilis vel. Ipsa id defetiscor. Et tripudio comedo. Ut balbus considero. Traho eaque defigo. Repudiandae suasoria defluo. Solitudo censura cur. Dolores ulterius aliqua. Qui patrocinor speculum. Sint vado delectatio. Delinquo vitium vergo
    </p>
</div>