<a href="#"> <!-- TODO: dynamiczny link do strony z komentarzami -->
    <article>
      <div>
        <strong>
          Jan Kowalski <!-- TODO: dynamiczna nazwa autora, user_id === id z api użytkowników -->
        </strong>
      </div>
      <div>
        <p> <!-- TODO: dynamiczny tytuł postu -->
          Pel uxor via bellum stillicidium suscipio quia sufficio defleo bestia assumenda clarus.
        </p>
      </div>
      <div>
        <p> <!-- TODO: dynamiczny excerpt postu, max 147 znaków -->
          Cernuus barba qui. Canonicus iure voluptates. Bis tibi quam. Molestiae enim solutio. Soluta aiunt amplexus. Laborum qui cupio. Assentator eaque asc...
        </p>
      </div>
    </article>
  </a>