@import '../../../../assets/styles/__variables.scss';
@import '../../../../assets/styles/__mixins.scss';
a{
    & > article{
        @include flexCenter(column,nowrap);
        border-radius:1rem;
        max-width:85vw;
        padding:.25rem;
        transition:.2s linear box-shadow;
        width:65rem;
        & > .head{
            @include flexCenter(column,nowrap);
            align-items:start;
            border-bottom:.25rem solid $black;
            padding:.8rem 0;
            row-gap:1rem;
            width:100%;
            & > p {
                font-size:2.3rem;
                font-weight:300;
                padding-left:3rem;
            }
            & > strong{
                font-size:1.8rem;
                text-align:center;
                width:100%;
            }
        }
        & > .content{
            @include flexCenter(column,nowrap);
            font-size:1.65rem;
            line-height:2.5rem;
            padding:1.8rem 1rem;
            text-align:start;
        }
        &:hover{
            box-shadow:0 0 1.45rem hsla(0,100%,0%,.25);
        }
    }
}