<div>
  <nav>
    <menu>
      <li>
        <a href="#">
          Users
        </a>
      </li>
      <li>
        <a href="#">
          Posts
        </a>
      </li>
      <li>
        <a href="#">
          Todos
        </a>
      </li>
    </menu>
  </nav>
  <main>
    <!-- Widok z użytkownikami -->
    <div>
      <figure>
        <img src='../assets/images/female.png' alt='Jan Kowalski - zdjęcie'/>
        <!-- TODO: jeśli to kobieta to female.png i tło różowe, jeśli mężczyzna to male.png i niebieskie tło -->
      </figure>
      <div>
        <ul>
          <li>
            <b>Name: </b>
            <p>
              Jan Kowalski <!-- TODO: dynamiczna nazwa użytkownika -->
            </p>
          </li>
          <li>
            <b>E-mail: </b>
            <p>
              <a href="mailto:xyz@gmail.com">
                xyz@gmail.com <!-- TODO: dynamiczny adres e-mail który będzie przekazywany w propsie do hrefa -->
              </a>
            </p>
          </li>
          <li>
            <b>Status: </b> 
            <p>active</p> <!-- TODO: dynamiczny status, jeśli aktywny tekst będzie zielony, jeśli nie to czerwony, może być kółko albo tekst  -->
          </li>
        </ul>
      </div>
    </div>



    <!-- post  w liscie-->
    <a href="#"> <!-- TODO: dynamiczny link do strony z komentarzami -->
      <article>
        <div>
          <strong>
            Jan Kowalski <!-- TODO: dynamiczna nazwa autora, user_id === id z api użytkowników -->
          </strong>
        </div>
        <div>
          <p> <!-- TODO: dynamiczny tytuł postu -->
            Pel uxor via bellum stillicidium suscipio quia sufficio defleo bestia assumenda clarus.
          </p>
        </div>
        <div>
          <p> <!-- TODO: dynamiczny excerpt postu, max 147 znaków -->
            Cernuus barba qui. Canonicus iure voluptates. Bis tibi quam. Molestiae enim solutio. Soluta aiunt amplexus. Laborum qui cupio. Assentator eaque asc...
          </p>
        </div>
      </article>
    </a>

      <!-- widok postu, który ma przenosić do innej części aplikacji  -->
      <div>
        <div>
          <a href="#">
            <button>
              X
            </button>
          </a>
        </div>
        <div>
          <h2>
            Jan kowalski
          </h2>
          <p>
            Cernuus barba qui. Canonicus iure voluptates. Bis tibi quam. Molestiae enim solutio. Soluta aiunt amplexus. Laborum qui cupio. Assentator eaque ascisco. Eaque rem maiores. Vere vilis vel. Ipsa id defetiscor. Et tripudio comedo. Ut balbus considero. Traho eaque defigo. Repudiandae suasoria defluo. Solitudo censura cur. Dolores ulterius aliqua. Qui patrocinor speculum. Sint vado delectatio. Delinquo vitium vergo
          </p>
        </div>
        <div>
          <ul>
            <li>
              <b>Name:</b>
              <p></p>
            </li>
            <li>
              <b>E-mail: </b>
              <p></p>
            </li>
            <li>
              <p>
                Dignissimos quidem harum. Exercitationem molestias aut. Corrupti commodi aspernatur.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <!-- Zadania, Todos -->

      <ul>
        <li style="background-color:blue;color:white">
          <article>
            <small>17<sup>30</sup> 19/01/2025</small>
            <p>
              Templum sufficio creber dapifer in cursus vir
            </p>
          </article>
        </li>
        <li style="background-color:green;color:white">
          <article>
            <small>17<sup>30</sup> 19/01/2025</small>
            <p>
              Templum sufficio creber dapifer in cursus vir
            </p>
          </article>
        </li>
      </ul>

  </main>
</div>