<div>
  <nav>
    asd
  </nav>
  <main>
    <!-- Widok z użytkownikami -->
    <div>
      <figure>
        <img src='../assets/images/female.png' alt='Jan Kowalski - zdjęcie'/>
        <!-- TODO: jeśli to kobieta to female.png i tło różowe, jeśli mężczyzna to male.png i niebieskie tło -->
      </figure>
      <div>
        <ul>
          <li>
            <b>Name: </b>
            <p>
              Jan Kowalski <!-- TODO: dynamiczna nazwa użytkownika -->
            </p>
          </li>
          <li>
            <b>E-mail: </b>
            <p>
              <a href="mailto:xyz@gmail.com">
                xyz@gmail.com <!-- TODO: dynamiczny adres e-mail który będzie przekazywany w propsie do hrefa -->
              </a>
            </p>
          </li>
          <li>
            <b>Status: </b> 
            <p>active</p> <!-- TODO: dynamiczny status, jeśli aktywny tekst będzie zielony, jeśli nie to czerwony, może być kółko albo tekst  -->
          </li>
        </ul>
      </div>
    </div>
    <!-- post  w liscie-->
    <a href="#"> <!-- TODO: dynamiczny link do strony z komentarzami -->
      <div>
        <div>
          <strong>
            Jan Kowalski <!-- TODO: dynamiczna nazwa autora, user_id === id z api użytkowników -->
          </strong>
        </div>
        <div>
          <p> <!-- TODO: dynamiczny tytuł postu -->
            Pel uxor via bellum stillicidium suscipio quia sufficio defleo bestia assumenda clarus.
          </p>
        </div>
        <div>
          <p> <!-- TODO: dynamiczny excerpt postu, max 147 znaków -->
            Cernuus barba qui. Canonicus iure voluptates. Bis tibi quam. Molestiae enim solutio. Soluta aiunt amplexus. Laborum qui cupio. Assentator eaque asc...
          </p>
        </div>
      </div>
    </a>
      

  </main>
</div>