<div class='user'>
    <div class='head'>
      <figure>
        <img src='{{image}}' alt='{{name}} - zdjęcie'/>
        <!-- TODO: jeśli to kobieta to female.png i tło różowe, jeśli mężczyzna to male.png i niebieskie tło -->
      </figure>
    </div>
    <div class='content'>
      <ul>
        <li>
          <b>Name: </b>
          <p>
            {{name}} <!-- TODO: dynamiczna nazwa użytkownika -->
          </p>
        </li>
        <li>
          <b>E-mail: </b>
          <p>
            <a href="mailto:{{email}}">
              {{email}} <!-- TODO: dynamiczny adres e-mail który będzie przekazywany w propsie do hrefa -->
            </a>
          </p>
        </li>
        <li>
          <b>Status: </b> 
          <p>{{status}}</p> <!-- TODO: dynamiczny status, jeśli aktywny tekst będzie zielony, jeśli nie to czerwony, może być kółko albo tekst  -->
        </li>
      </ul>
    </div>
  </div>