<div>
    <figure>
      <img src='../../../../assets/images/male.png' alt='Jan Kowalski - zdjęcie'/>
      <!-- TODO: jeśli to kobieta to female.png i tło różowe, jeśli mężczyzna to male.png i niebieskie tło -->
    </figure>
    <div>
      <ul>
        <li>
          <b>Name: </b>
          <p>
            Jan Kowalski <!-- TODO: dynamiczna nazwa użytkownika -->
          </p>
        </li>
        <li>
          <b>E-mail: </b>
          <p>
            <a href="mailto:xyz@gmail.com">
              xyz@gmail.com <!-- TODO: dynamiczny adres e-mail który będzie przekazywany w propsie do hrefa -->
            </a>
          </p>
        </li>
        <li>
          <b>Status: </b> 
          <p>active</p> <!-- TODO: dynamiczny status, jeśli aktywny tekst będzie zielony, jeśli nie to czerwony, może być kółko albo tekst  -->
        </li>
      </ul>
    </div>
  </div>