@import './assets/styles/_variables';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
::after,
::before{
    content:'';
    position:absolute;
}
a{
    color:inherit;
    cursor:pointer;
    text-decoration:none;
}
body{
    background-color:$white;
    color:$prussianBlue;
    font-family: 'Fira Sans', sans-serif;
    font-size:1.6rem;
    font-weight:400;
}
button{
    cursor:pointer;
}
html{
    font-size:62.5%;
}
li,
ol,
ul{
    list-style:none;
}
button,
input,
textarea{
    background:none;
    border:none;
    font-family: 'Fira Sans', sans-serif;
    outline:none;
}