<div class='users'>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
    <app-user-item></app-user-item>
</div>